.banner {
  color: white;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner p {
  color: #989A9C;
  font-size: 18px;
  padding-bottom: 32px;
}

.banner a {
  margin-top: 32px;
}
